
<div class="flex flex-col items-center justify-center gap-2 " >
    <p class="text-lg font-semibold">Contact:</p>
    <input #getContactName minlength="4" pattern="[a-z]" required  type="text" placeholder="Enter the name"  class="px-2 bg-black rounded-md text-zinc-300" />
    <input #getContactPhoneNumber min="1" type="number"  required type="number" placeholder="Enter the phonenumber" class="px-2 bg-black rounded-md text-zinc-300" />
     
    <button class="rounded-xl bg-white font-semibold w-full border-2 border-gray-400 border-solid" (click)="uploadToFirebase(getContactName.value, getContactPhoneNumber.value)">
        Add contact
    </button>
</div>